.login-container {
  margin: 90px;
  margin-left: 500px;
  padding: 30px;
  position: relative;
}

.id-form {
  position: absolute;
  left: 33px;

  padding: 3px;
  font-size: small;
  font-weight: bold;
}

.pw-form {
  position: absolute;
  left: 35px;

  font-size: small;
  font-weight: bold;
}

div {
  margin-top: 20px;
}
