.navbar {
  width: 100%;
  background-color: white;
  text-align: center;
  margin-top: 30px;
}

.navbarMenu {
  color: #000000;
  margin: 60px;
  text-decoration: none;
  font-size: 19px;
  padding: 10px 28px;
}
