.month_header {
  background-color: blanchedalmond;
  font-size: 22px;
  font-family: "Chassam";
  width: 80rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 5%;
}

.month_btn1 {
  margin-right: 430px;
  width: 5rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(139, 81, 0);
  color: white;
}

.month_btn2 {
  margin-left: 430px;
  width: 5rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(139, 81, 0);
  color: white;
}

.search_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
}

.search_ip {
  width: 20vw;
  height: 3vh;
  outline: none;
  padding-left: 10px;
  font-family: "Chassam";
  font-size: 17px;
  text-align: center;
}

.Diaryborder {
  font-family: "Chassam";
  border: 2px solid;
  border-color: rgba(231, 202, 172, 0.8);
  border-radius: 7px;
  padding: 12px;
  margin-left: 130px;
  margin-right: 130px;
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
}
